@model ProductVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />
    <div class=" border p-3  " style="margin-top:100px">
        <div class=" row pb-2">
            <h2 class="text-primary"> @(Model.Product.Id!=0?"Update":"Create")Product</h2>
            <hr/> 
        </div>
        <div class="row">
            <div class="col-10">
                <div class="mb-3">
                    <label asp-for="Product.Title"></label>
                    <input asp-for="Product.Title" type="text" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Product.Description"></label>
                    <textarea asp-for="Product.Description" type="text" class="form-control"></textarea>


                </div>
                <div class="mb-3">
                    <label asp-for="Product.ISBN"></label>
                    <input asp-for="Product.ISBN" type="text" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Product.Author"></label>
                    <input asp-for="Product.Author" type="text" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Product.ListPrice"></label>
                    <input asp-for="Product.ListPrice" type="text" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price50"></label>
                    <input asp-for="Product.Price50" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price100"></label>
                    <input asp-for="Product.Price100" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label asp-for="Product.ImageUrl"></label>
                    <input  type="file" name="file" class="form-control" />


                </div>

                <div class="mb-3">
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>---Select Category---</option>
                    </select>


                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control border ">Back To List</a>
                    </div>

                </div>
            </div>

            <div class="col-2">
                <img src="@Model.Product.ImageUrl" width="100%"
                
                style="border-radius:5px; border:2px solid #bbb9b9"/>

            </div>
        </div>
        

</form>
@* client side validation *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: [
                    // Core editing features
                    'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                    // Your account includes a free trial of TinyMCE premium features
                    // Try the most popular premium features until Feb 10, 2025:
                    'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
                ],
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            });
        </script>
    }
}